<div class=" container-fluid mt-5 bg-light  ">
  <div class="row  ">
<div class="col-md-4 mt-5  ">
<div class="ms-3 mt-5 card p-2 w-30" >
  <p class="mt-2 text-center" style="font-size: 1.2rem ;"><b>Welcome {{userAuth.getUser()}} !</b></p>
</div>
<div class="card ms-3 mt-1 p-2 w-30">
  <span class="text-center mt-2"> Your Ad's</span>
</div>
<!-- <div class="card ms-5 mt-1 p-2 w-30">
  <span class="text-center mt-2"> Wishlist</span>
</div> -->
<div class="card ms-3 mt-1 p-2 w-30">
  <button class="btn btn-danger">Logout</button>
</div>
</div>
<div class="col-md-8 p-5 mt-5" >
  <div class="d-flex justify-content-start card " style="flex-flow: wrap;" >
    <div class="card ms-2 mt-2 mb-3 "  *ngFor="let item of items">
      <!-- <img [src]="item.productImages[0].url" alt=""  style="height: 200px;"> -->
        <div class="card-body">
          <h3 class="card-title"><b>{{item.productName}} - <span>{{item.productModel}}</span></b></h3>
          <h4 class="card-text"> Rs:<span>
              {{item.productPrice}}
            </span></h4>
          <p class="card-text">Description: {{item.productDescription}}</p>
          <p class="card-text">Location: {{item.location}}</p>
          <button mat-icon-button color="primary" (click)="viewProduct(item.productId)">View more..</button>
        </div>
    </div>
  </div>
</div>
</div>
</div>
