
<div class="justify-content-center">
  <h3 class=" text-center fw-bold">Browse categories</h3>
  <p class="text-end" style="flex:1;margin-right:76px;cursor: pointer;">
    <a href="#">See all</a>
  </p>
</div>
<div class="lines">
   <div class="in" routerLink="/product">
      <mat-icon>smartphone</mat-icon>
    <p>Mobile Phones</p>
   </div>
   <div class="in">
    <mat-icon>devices</mat-icon>
    <p>Laptops & Tablets </p>
  </div>
   <div class="in">
    <mat-icon>no_crash</mat-icon>
     <p>Cars</p>
   </div>
   <div class="in">
    <mat-icon>chair</mat-icon>
    <p>furniture</p>
   </div>
   <div class="in">
    <mat-icon>two_wheeler</mat-icon>
    <p>Bikes</p>
   </div>
   <div class="in">
    <mat-icon>apartment</mat-icon>
    <p>Rented Homes</p>
   </div>
</div>


